h1 {
  color: #FFFFFF;
}

h3 {
  color: #FFFFFF;
}

h5 {
	color: #FFFFFF;
}

/*defines line height for the cards in query result*/
p.a {
  line-height: 0.5;
}

.login-form {
  max-width: 300px;

}

.login-form-forgot {
  float: right;

}

.login-form-button {
  width: 100%;

}